<div class="d-flex justify-content-center">
    <div class="card text-center w-75 mb-3" >
        <div class="card-header">
            <h4>{{vehicle.brand}}<span> - {{vehicle.model}}</span></h4>
        </div>
        <div class="card-body">
            <p class="card-title">Combustible: {{vehicle.fuelType}}</p>
            <p class="card-text">Velocidad Máxima: {{vehicle.maximumSpeed}} - km/h</p>
        </div>
        <div class="card-footer text-muted">
            <button href="#" class="btn btn-primary" (click)="onVehicleDetails(vehicle)">Detalles</button>
        </div>
    </div>
</div>
