<div class="d-flex justify-content-center">
    <div class="card text-center w-75 mb-3" >
        <div class="card-header">
            <p>Cliente: {{vehicle.color}}<span> - Telefono: {{vehicle.color}}</span></p>
        </div>
        <div class="card-body">
            <p class="card-title">Dirección: {{vehicle.color}}</p>
            <p class="card-text">{{vehicle.color}}</p>
        </div>
        <div class="card-footer text-muted">
            <button href="#" class="btn btn-primary" (click)="onVehicleDetails(vehicle)">Detalles</button>
        </div>
    </div>
</div>
