<div class="col-md-6 offset-md-3">
    <h2 class="text-center mt-3">Nuevo Ticket</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="form-label">Color</label>
            <input type="text" 
                class="form-control"
                id="color"
                [(ngModel)]="vehicle.color"
                name="color">
        </div>
        <button class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-danger mx-3" (click)="onCancel()">Cancelar</button>
    </form>
    
</div>